@import "~bootstrap/scss/bootstrap";
@import "./img-style.scss";

@import "welcome.scss";
@import "register.scss";

th,
td {
    text-align: center;
    vertical-align: middle;
}

.w-team {
    width: 20px;
}

.radio-red,
.radio-green {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.radio-green {
    background-color: green;
}

.rounded-img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    img {
        width: 100%;
    }
}

form {
    margin: 0;
}

.table th:first-child,
.table td:first-child {
    text-align: left;
}

.fa,
.fa-soluid {
    color: #ffffff;
}

#sidebarMenu {
    background-color: #343434;
    border-radius: 50px;
    height: 60%;
    width: 10%;
    padding: 30px 0;
    margin-top: 60px;
    margin-left: 20px;

    .nav-item {
        :hover {
            background-color: #ffffff3e;
        }

        a {
            color: white;
        }
    }
}
