@import "~bootstrap/scss/bootstrap";
@import "./img-style.scss";

@import "welcome.scss";
@import "register.scss";

* {
    box-sizing: border-box;
}

th,
td {
    text-align: center;
    vertical-align: middle;
}

.w-team {
    width: 20px;
}

.radio-red,
.radio-green {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.radio-green {
    background-color: green;
}

.rounded-img {
    width: 9.375rem;
    height: 9.375rem;
    overflow: hidden;
    border-radius: 50%;
    img {
        max-width: 100%;
    }
}

form {
    margin: 0;
}

.table th:first-child,
.table td:first-child {
    text-align: left;
}

.fa,
.fa-soluid {
    color: #ffffff;
}

// header {
//     height: 70px;
// }

// #sidebarMenu {
//     height: calc(100vh - 70px);
//     width: 200px;
//     background-color: #343434;

//     .nav-item {
//         :hover {
//             background-color: #ffffff3e;
//         }

//         a {
//             color: white;
//         }
//     }

//     border-radius: 0;
//     // position: fixed;

//     @media (max-width: 1200px) {
//         padding: 30px;
//     }

//     // @media (max-width: 576px) {
//     //     width: calc(100vw - 40px);
//     // }

//     @media (max-width: 768px) {
//         width: 100vw;
//         height: 150px;
//         position: fixed;
//         top: 70px;
//     }
// }

// main {
//     width: calc(
//         100vw - 200px
//     ); // Larghezza della finestra meno la larghezza della sidebar
// }

#sidebarMenu {
    width: 200px;
    background-color: #343434;
    overflow-y: auto; // Abilita lo scrolling se necessario
    height: 100vh; // Imposta l'altezza al 100% dell'altezza dello schermo
    position: sticky;
    top: 70px; // Se l'header è alto 70px
    left: 0;

    .nav-item {
        :hover {
            background-color: #ffffff3e;
        }

        a {
            color: white;
        }
    }

    border-radius: 0;
    position: fixed;

    @media (max-width: 768px) {
        width: 100%;
        overflow-x: hidden; // Nasconde lo scrolling orizzontale se necessario
        height: auto;
        padding-bottom: 20px;
    }
}

.navbar {
    position: fixed;
    background-color: #386641;
    top: 0;
    width: 100%;
    z-index: 1000; // Imposta un valore alto per la z-index per assicurarsi che la navbar sia sopra gli altri elementi
    img {
        width: 250px;
    }

    a {
        color: #f2e8cf;
        font-size: 18px;
        &:hover {
            color: #f88a35;
        }
    }
}

main {
    padding-top: 70px;
    min-height: auto;
    @media (max-width: 768px) {
        margin-left: 0;
    }
}

.position-absolute {
    position: absolute; // Cambia da fixed a absolute
    top: 70px;
    left: 200px;
    right: 0;
    bottom: 0; // Imposta il bordo inferiore a 0 per farlo espandere fino al fondo dello schermo

    // Rimuovi i media queries ridondanti
    @media (max-width: 768px) {
        left: 0;
    }
}
